#header
{
    display:flex;
justify-content: space-between;
margin-top:30px;
}


body
{
    padding:0 30px 30px 30px;
}


h1,h3,h6
{
    color:#917661
}

#container1
{

    align-self:flex-start;
}

#container2
{
    align-self:flex-end;
    margin-bottom:30px;
}



#search
{
  display:inline;
}


ul {

    list-style-type: none;
  display:flex;
  justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8573D;
    border-radius:10px;
   
  }
  
  li {
  
    width:150%;
    height:150%;
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a 
  {
      color:white;
      font-size:20px;
  }


  
  li a:hover {
    background-color:  	#8E7866;
  }


  img 

  {
   float:left;
    width:500px;
      height:400px;
     
    margin-right:250px;
    margin-top:50px;
  }



  #loreimupsum
  {
      
      font-size:15px;
      

     
  }

  #hugeasstext
  {

    color:#917661;
    font-size:25px;
    
 
  }

  #rreshti2
  {
    
    height:415px;    
    display:flex;
      justify-content:center;
      align-items: center;
      padding-bottom:20px;

      border-bottom:0.5px solid gray;
      
  }

     
      
  

  #rreshti2 div
  {
      align-self:flex-end;
  margin-left:50px;
      
  }


   
   h3 
  {
      text-align:center;
      font-size:30px;
  }


  #quote
{
    text-align: center;
}

article
{
    margin-top:50px;
    display:flex;
  
  
}



button 
 {
  color:white;
  background-color:#E8573D;
  border-radius:9px;
  height:2.6em;
  width:4.9em;
  display:block;
 }

article div
{
  padding-bottom:10px;
  border-right:1px solid gray;
 
 
}

section 
{
  display:flex;
  
  justify-content: space-around;
  align-items: center;
}




.smaller
{
  width:215px;
  height:130px;

}


.foto
{
  position: relative;
  left:120px;
  
 
}


.foto button
{
  height:3em;
  width:8em;
  

}


