#header
{
    display:flex;
justify-content: space-between;
margin-top:30px;
}



body
{
    padding:0 30px 30px 30px;
    background-image:url('cloth_alike.png') !important;

  
    
}

#LajmiKryesor
{
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#LajmiKryesor:before
{
  content: '';
  background: url('../Teknologji/fotot/applefoto.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2; 
}
#LajmiKryesor .mini-container
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 1;
}
#LajmiKryesor .mini-container-content
{
  z-index: 1;
}
.butoni
{
  display: inline-block;
  border: none;
  background-color: #001f3f;
  color:#fff;
  padding: 0.5rem 1.5rem;
}
.butoni:hover
{
  opacity: 0.9;
  text-align: center;
}
/* Fonts


    font-family: 'Ubuntu', serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Solway', serif;





*/

header p 

{
  color:#3D9970;
  font-weight:bold;
  
}

p
{
  font-family: 'Ubuntu', sans-serif;
  
}

h6{
  font-size:18px;
}



h1,h3,h6
{
    color:#3D9970;
    font-family: 'Lato', sans-serif;
}

#container1
{

    align-self:flex-start;
}

#container2
{
    align-self:flex-end;
    margin-bottom:30px;
}



#search
{
  display:inline;
}


#homepages {

    list-style-type: none;
  display:flex;
  justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001f3f;
    border-radius:10px;
   
  }
  
  li {
   
    width:150%;
    height:150%;
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    
  }
  

  #hudini

  {
    visibility: hidden;
  }

 #hudini:hover
 {
   visibility: visible;
 }
   	
  li a:hover {
    background-color:  	#8E7866;
  }




button 
 {
  color:white;
  background-color:#001f3f;
  border-radius:9px;
  height:2.8em;
  width:6em;
  display:block;
  border:0px;
 }






#menu
{
    
    display: flex;
            flex-direction: row;
            border-radius: 5rem;
    color:white;
        }
.item
{
    background: #001f3f;;
    padding: 1rem;
    text-align: center;
    margin: 0.05rem;
    flex: 1;
    list-style:none;
}
li:first-child{
    
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
  
li:last-child{

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

li:nth-child(1):hover
{
background-color:#2f97c1 ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}



li:nth-child(2):hover
{
background-color:#214f4b ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}


li:nth-child(3):hover
{
background-color:#85144b  ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}

li:nth-child(4):hover
{
background-color:#de6c83 ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}

li:nth-child(5):hover
{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(182,153,189,1) 0%, rgba(14,138,163,1) 98%);  font-weight:bold;
font-size:20px;
cursor: pointer;
}


li:nth-child(6):hover
{

font-weight:bold;
font-size:20px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,121,27,0.5) 0%, rgba(14,138,163,0.8) 98%);
cursor: pointer;
}



hr
{
  color:cadetblue;
}


/* #LajmiKryesor
{
  display:flex;
  justify-content: center;
  flex-direction: column;
align-items: center;
 
  padding-bottom:1.3em;
} */
/* 
#LajmiKryesor img
{
  width: 450px;
  height:400px;
 
 
  
} */

mark
{
  color:transparent;

}

/* #LajmiKryesor img:hover
{
  border-right:3px solid darkseagreen;
}



#LajmiKryesor  p
{
  font-size:20px;
}


#LajmiKryesor p a , .parent p a 

{
  text-decoration: none;
  color:rgba(0,31,63,30);
}


#LajmiKryesor p a:hover , .parent p a:hover

{
 
  color:rgba(0,31,03,100);
  font-weight: bold;
  
} */





  
  

  
#fshihe
{
position:relative;
margin-top:20px;
}


#shfaqe
{
  margin-left:50em;
  opacity: 0;
}



.Lajmi img
{
  width:230px;
  height:200px;
  /* margin-left:30px;
  margin-top:30px; */
  margin-left:30px;
  border: 3px ridge rgba(0, 31, 63, 0.8) ;

}

.Lajmi
{
margin-top:30px;
  display:flex;
justify-content: stretch;
align-items: center;
height:200px;
background:url('vichy.png') ;

background-color:rgba(152, 180, 212,0.25);

border: 25px solid #B88846;
box-shadow: rgba(0, 0, 0,1) 0 6px 3px;
border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

 animation-name: fadeInUp;
  -moz-animation-name:fadeInUp;
       animation-duration: 5s;
       animation-direction:linear;

}

.Lajmi.fadeInUp
{
  animation-name: fadeInUp;
  -moz-animation-name:fadeInUp;
       animation-duration: 3s;
       animation-direction:linear;

}



.Lajmi h3
{
  
  
  align-self:center;
  font-size:30px;
  margin-left:2em;
  color:    black;
  border-left: 4px solid  #001f3f ;
  padding-left:20px;
  text-shadow: 0.2px 0.2px #001f3f;
  
  
 

}

.Lajmi h3:hover
{
  border-left:4px solid  #2ECC40 ;
}




.Lajmi:hover
{
 
  background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15));

     font-style: oblique;
 
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    filter:blur(2px);
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  
}


.lajmea{

  text-decoration: none;
}