#header
{
    display:flex;
justify-content: space-between;
margin-top:30px;
}

label
{
  color:#3D9970;

}

body
{
    padding:0 30px 30px 30px;
   background-image:url('../HomePage/cloth_alike.png');

  
    
}

#location 
{
 margin-left: 3em;
}

/* Fonts


    font-family: 'Ubuntu', serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Solway', serif;





*/
footer p
{
  color:#3D9970;
  font-weight: bold;
  text-align: center;
}
header p 

{
  color:#3D9970;
  font-weight:bold;
}

p
{
  font-family: 'Ubuntu', sans-serif;
  
}

h6{
  font-size:18px;
}



h1,h3,h6
{
    color:#3D9970;
    font-family: 'Lato', sans-serif;
}

#container1
{

    align-self:flex-start;
}

#container2
{
    align-self:flex-end;
    margin-bottom:30px;
}



#search
{
  display:inline;
}


#homepages {

    list-style-type: none;
  display:flex;
  justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001f3f;
    border-radius:10px;
    position:fixed;
   
  }
  
  li {
  
    width:150%;
    height:150%;
    font-family: 'Open Sans', sans-serif;
   cursor:pointer;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    
  }
  
  
 
   	
  li a:hover {
    background-color:  	#8E7866;
  }


  img 

  {
   float:left;
    width:500px;
      height:400px;
     
    margin-right:250px;
    margin-top:50px;
    
  }





  #loreimupsum
  {
      
      font-size:15px;
      

     
  }

  #hugeasstext
  {

    color:#3D9970;
    font-size:25px;
    
 
  }

  #rreshti2
  {
    
    
    height:415px;
     
    display:flex;
      justify-content:center;
      align-items: center;
      padding-bottom:20px;
      -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -moz-animation-name:slideInLeft;
       animation-duration: 3s;
       animation-direction:linear;
      border-bottom:0.5px solid  gray;
      
  }

     
      
  

  #rreshti2 div
  {
      align-self:flex-end;
  margin-left:50px;
      
  }


   
   h3 
  {
      text-align:center;
      font-size:30px;
  }


  #quote
{
    text-align: center;
}

article
{
    margin-top:1em;
    margin-bottom:2em;
    display:flex;
  
  
}




#rreshti2 img

{
  margin-bottom:3em;
  border:solid 3px #FF851B ;
}

button 
 {
  color:white;
  background-color:#001f3f;
  border-radius:9px;
  height:2.8em;
  width:6em;
  display:block;
  border:0px;
 }

article div
{
  padding-bottom:10px;
  
 
 
}

section 
{
  display:flex;
  
  justify-content: space-around;
  align-items: center;

  margin-bottom:1.2em;
}




.smaller
{
  width:215px;
  height:130px;
  border: 2px solid #FF4136  ;

}


.foto
{
  position: relative;
  left:120px;
  
 
}

#menu
{
    
    display: flex;
            flex-direction: row;
            border-radius: 5rem;
    color:white;
        }
.item
{
    background: #001f3f;;
    padding: 1rem;
    text-align: center;
    margin: 0.05rem;
    flex: 1;
    list-style:none;
}





li:first-child{
    
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
  
li:last-child{

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

li:nth-child(1):hover
{
background-color:#2f97c1 ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}



li:nth-child(2):hover
{
background-color:#214f4b ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}


li:nth-child(3):hover
{
background-color:#85144b  ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}

li:nth-child(4):hover
{
background-color:#de6c83 ;
font-weight:bold;
font-size:20px;
cursor: pointer;
}

li:nth-child(5):hover
{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(182,153,189,1) 0%, rgba(14,138,163,1) 98%);  font-weight:bold;
font-size:20px;
cursor: pointer;
}


li:nth-child(6):hover
{

font-weight:bold;
font-size:20px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,121,27,0.5) 0%, rgba(14,138,163,0.8) 98%);
cursor: pointer;
}

.foto button
{
  height:3em;
  width:8em;
  

}


#lastone
{
  display:flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  margin-top:2.5em;
  position:relative;
  right:5em;
}



#lastone div ul 
{
  position: relative;
bottom:2em;

}




#lastone p 
{
  position: relative;
right:0.7em;
}



hr
{
  color:gray;
}


.ikon
{
  width:20px;
  height:20px;

}


#connect p
{
  margin-left:1em;
 
}

#connect button
{
  margin-top:2em;
 
}


span
{
  color:#3D9970
}

#lastone li
{
  list-style: none;
}


#lastone div span
{
  color:green;
}



#mailto

{
  text-decoration: none;
  color:#3D9970;
position:relative;
top:0.3em;
}

#mailto:hover
{
  font-style:italic;
}


#connect a 
{
  text-decoration: none;
  color:#3D9970;
position:relative;
top:0.3em;
}


#connect a:hover
{
  font-style:italic;

}



#rreshti2 img:hover
{
  transform: scale(1.05, 1.05);
   
}




@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}




.login
{
  position : relative;

bottom:10px;
}
#lokacioni
{
  text-decoration: none;
  color: black;
}

/* #lokacioni
{
  text-decoration: none;
  color:green;
}
#lokacioni:hover
{
  text-transform: uppercase;
  color: yellowgreen
} */





#loja

{
  text-decoration: none;
  color:#3D9970;
}


#list2 li
{
 
}


#list2 li:hover
{
  all:initial;
}